<h1>{{ goal.goal_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'daily_planner:vote' goal.id %}" method="post">
{% csrf_token %}
{% for goal in goal.importance_set.all %}
    <input type="radio" name="importance" id="importance{{ forloop.counter }}" value="{{ importance.id }}">
    <label for="importance{{ forloop.counter }}">{{ importance.importance_text }}</label><br>
{% endfor %}
<input type="submit" value="vote">
</form>
