{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'daily_planner/style.css' %}">

{% if latest_goals_list %}
	<ul>
	{% for goal in latest_goals_list %}
		<li><a href="{% url 'daily_planner:detail' goal.id %}">{{goal.goal_text }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No goals are available</p>
{% endif %}
