<h1>{{ goal.goal_text }}</h1>

<ul>
	{% for importance in goal.importance_set.all %}
	<li>{{ importance.importance_text }} -- { importance.votes }} vote{{ importance.votes|pluralize }}</li>
	{% endfor %}
</ul>

<a href="{% url 'daily_planner:detail' goal.id %}></a>
